/* ===julia 08-30 test ↓*/
.sidebar {
  height: 100vh; /* 使用視窗高度 */
  position: sticky;
  top: 100px;
  // overflow-y: auto;
  /* 如果內容超出，允許滾動 */
}
/* =================================== */

.left-nav {
  font-size: 20px;
  background-color: var(--primary);
  color: var(--primary2);
  width: 300px;
  height: 310px;
  & ul {
    border: var(--primary2) 1px solid;
    margin: 0px;
    padding: 0px 20px 50px 20px;
    & li {
      margin-top: 20px;
      padding-bottom: 18px;
      border-bottom: #b29564 1px solid;
      list-style: none;
      & a {
        padding-left: 15px;
        text-decoration: none; /* 移除底線 */
        color: inherit; /* 繼承父層的字體顏色 */
      }
      & :hover {
        border-left: var(--primary2) 5px solid;
        padding-left: 10px;
      }
      .fromProfile,
      .fromOrder,
      .fromCupon,
      .fromFavorite {
        border-left: var(--primary2) 5px solid;
        padding-left: 10px;
      }
    }
  }
  .line {
    padding: 22px;
    justify-content: center;
    display: flex;
    gap: 10px;
  }
}
