
.header-personimgdiv {
  position: relative;
  height: 30px;
  width: 30px;
  // display: inline-block;
  margin: 0rem 1rem;
  .header-personimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    // border: 1px solid var(--primary2);
  }
}
